{% load static %}
<div class="banner_section slide_wrap shop_banner_slider staggered-animation-wrap">
    <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg" data-img-src="{% static 'assets/images/giftbanner.jpg' %}">
                <div class="banner_slide_content banner_content_inner">
                	<div class="container">
                    	<div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-9 col-9">
                                <div class="banner_content2">
                                    <h6 class="mb-2 mb-sm-3 staggered-animation text-uppercase" data-animation="fadeInDown" data-animation-delay="0.2s">New Tranding</h6>
                                    <h2 class="staggered-animation" data-animation="fadeInDown" data-animation-delay="0.3s">Gift Recommedations</h2>
                                    <p class="staggered-animation" data-animation="fadeInUp" data-animation-delay="0.4s">Gift Recommendations for your loved ones</p>
                                    <a class="btn btn-line-fill btn-radius staggered-animation text-uppercase" href="{{ product_list_url }}" data-animation="fadeInUp" data-animation-delay="0.5s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item background_bg" data-img-src="{% static 'assets/images/giftbanner6.jpg' %}">
                <div class="banner_slide_content banner_content_inner">
                	<div class="container">
                    	<div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-9 col-10">
                                <div class="banner_content2">
                                    <h5 class="mb-2 mb-sm-3 staggered-animation font-weight-light" data-animation="fadeInDown" data-animation-delay="0.2s">Get up to 50% off Today Only!</h5>
                                    <h2 class="staggered-animation" data-animation="fadeInDown" data-animation-delay="0.3s">Dresses for Her</h2>
                                    <a class="btn btn-border-fill btn-radius staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="fadeInUp" data-animation-delay="0.4s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item background_bg" data-img-src="{% static 'assets/images/giftbanner7.jpg' %}">
                <div class="banner_slide_content banner_content_inner">
                	<div class="container">
                    	<div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-9 col-10">
                                <div class="banner_content2">
                                    <h5 class="mb-2 mb-sm-3 staggered-animation font-weight-light" data-animation="fadeInDown" data-animation-delay="0.2s">Taking your Gift giving Experience to Next Level</h5>
                                    <h2 class="staggered-animation" data-animation="fadeInDown" data-animation-delay="0.3s">Buy Your Youngings the best gifts</h2>
                                    <a class="btn btn-border-fill btn-radius staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="fadeInUp" data-animation-delay="0.4s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators indicators_style2">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ol>
    </div>
</div>
<!-- END MAIN CONTENT -->
<div class="main_content">
<!-- START SECTION SHIPPING INFO -->
<div class="section small_pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-3 col-sm-6">	
                <div class="icon_box icon_box_style3">
                    <div class="icon">
                        <i class="flaticon-shipped"></i>
                    </div>
                    <div class="icon_box_content">
                        <h6>Free Delivery</h6>
                        <p>Worldwide</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">	
                <div class="icon_box icon_box_style3">
                    <div class="icon">
                        <i class="flaticon-money-back"></i>
                    </div>
                    <div class="icon_box_content">
                        <h6>Money Returns</h6>
                        <p>30 Days money return</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">	
                <div class="icon_box icon_box_style3">
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>
                    <div class="icon_box_content">
                        <h6>27/4 Online Support</h6>
                        <p>Customer Support</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">	
                <div class="icon_box icon_box_style3">
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="icon_box_content">
                        <h6>Payment Security</h6>
                        <p>Safe Payment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START SECTION SHIPPING INFO -->