{% extends "base.html" %}

{% block content %}
<!-- <h1>Login</h1>
    <form method='POST'> {% csrf_token %}
      {{ form }}
      <button type='submit' class='btn btn-default'>Submit</button>
    </form> -->


<div class="login_register_wrap section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-6 col-md-10">
              <div class="login_wrap">
              <div class="padding_eight_all bg-white">
                      <div class="heading_s1">
                          <h3>Login</h3>
                      </div>
                      <form method='POST'> {% csrf_token %}
                        {{ form }}
                        <button type='submit' class='btn btn-default'>Submit</button>
                      </form>
                      
                      <div class="different_login">
                          <span> or</span>
                      </div>
                      <ul class="btn-login list_none text-center">
                          <li><a href="#" class="btn btn-facebook"><i class="ion-social-facebook"></i>Facebook</a></li>
                          <li><a href="#" class="btn btn-google"><i class="ion-social-googleplus"></i>Google</a></li>
                      </ul>
                      <div class="form-note text-center">Don't Have an Account? <a href="signup.html">Sign up now</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}