<form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' {% if  product.is_digital %}data-is-digital='true'{% endif%}/>
      <span class='submit-span'>
    {% if product in cart.products.all %}
        <div class="add-to-cart">
             <!-- <a class='btn btn-fill-out btn-radius' href='/cart/'>In cart</a>  -->
             <button type='submit' class='btn btn-fill-out btn-radius'>Remove</button>
        </div>
    {% else %}
    <div class="add-to-cart">          
        <button type='submit'  class='btn btn-fill-out btn-radius'><i class="icon-basket-loaded"></i> Add To Cart</button>
    </div>
    {% endif %}
    </span>
</form>